.item-detail {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.item-detail-header {
    position: absolute;
    top: 2rem;
    height: 8rem;
    width: 68%;
    
    display: flex;
    text-align: start;
    margin-left: 0.75rem;
    border-bottom: 1px solid slategray;
}

.item-detail-title {
    max-width: 40rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 240%;
    font-weight: lighter;
}

.item-detail-box {
    margin-top: 9rem;
    position: relative;
    height: 45rem;
    width: 60rem;
    display: flex;
    justify-content: center;
}



.return-button-container {
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.return-button {
    text-decoration: none;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    margin-bottom: 0.5rem;
}

.return-button:hover {
    text-decoration: none;
    color: rgb(102, 179, 255);
}

.img-container {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.item-detail-picture {
    height: auto;
    max-width: 50%;
}

.item-description-container {
    padding: 1rem 4rem 1rem 4rem;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-left: 1px solid rgba(112, 128, 144, 0.4);
}

.item-detail-description-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

.item-detail-description {
    text-align: start;
    font-family: 'Roboto', sans-serif;
}

.negrita {
    font-weight: bold;
}

.buy-button-container {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buy-button-title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buy-button {
    width: 50%;
    height: 2.5rem;
    color: crimson;
    background: none;
    border: 1px solid;
    border-radius: 4px;
    border-color: crimson;
    transition: 200ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-button:hover {
    outline: none;
    border-color: crimson;
    background-color: crimson;
    color: ghostwhite;
    box-shadow: 0px 0px 10px 0px crimson;
    text-decoration: none;
}

.buy-button:focus {
    border-color: crimson;
    outline: none;
}

.buy-button-cancel {
    background: none;
    outline: none;
    color: dodgerblue;
    border: none;
}

.buy-button-cancel:hover {
    color: rgb(70, 180, 255);
}

.buy-button-cancel:focus {
    outline: none;
    border: none;
}


@media screen and (min-width:1900px){
    .item-datail {
        justify-content: center;
        min-height: 100vh;
    }
    .item-detail-box{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .item-detail-box {
        margin-top: 7rem;
        height: fit-content;
        width: 100%;
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item-detail-container {
        width: 100%;
    }
    .item-detail{
        width: 100%;
    }
    .return-button-container {
        left: 20px;
        top: 0rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .return-button {
        margin-bottom: 0;
        margin-left: 10px;

    }
    

    .item-detail-header {
        top: 1rem;
        width: 90%;
        height: 8rem;
        display: flex;
        text-align: start;
        margin-left: 0.75rem;
        border-bottom: 1px solid slategray;
    }

    .item-detail-title {
        margin-bottom: 0;
        width: 35rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 200%;
        font-weight: lighter;
    }
    .img-container {
        padding: 2rem 0 4rem 0;
        background-color: white;
        width: 100%;
        height: 100%;
        
    }
    .item-description-container {
        border-top: 1px solid slategray;
        border-left: 0;
        width: 80%;
        padding: 1rem 8rem 1rem 8rem;
    }

    .item-detail-count-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buy-button-title {
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {

    .item-detail-header {
        height: 7rem;
    }

    .item-detail-title {
        font-size: 160%;
        margin-bottom: 0;
    }

    .item-detail-box {
        margin-top: 6rem;
    }

    .return-button-container {
        top:0rem;
    }

    .item-description-container {
        border-top: 1px solid slategray;
        border-left: 0;
        width: 90%;
        padding: 1rem;
    }

    .item-detail-count-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buy-button-title {
        flex-direction: column;
    }
}