.center {
    margin-top: 10rem;
    font-size: 6rem;
    background: -webkit-linear-gradient(#eee,#2196F3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}