.Card {
    background-color: white;
    max-width: 15rem;
    height: 27rem;
    margin: 0.75rem;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color:gainsboro;
    box-shadow: 5px 5px 5px 0px slategray;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.Card:hover {
    box-shadow: 0px 0px 10px 10px rgba(112, 128, 144, 0.4);
}

.Card-img-container {
    height: 250px;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-img-top {
    height: auto;
    width: 100%;
}

.Card-body {
    height: 10rem;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card-header{
    height: 5rem;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1rem;
}
.Card-title{
    font-family: 'Montserrat', sans-serif;
    
}

.Card-paragraph {
    font-family: 'Roboto', sans-serif;
}

.Card-btn {
    text-decoration: none;
    margin: 0;
    width: 100%;
    height: 3rem;
    border: 2px solid rgb(255,193,7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255,193,7);
    color:rgba(20,20,20,0.8);
    font-weight: bold;
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .Card {
        max-width: 45%;
        height: 28rem;
    }
    .Card:hover {
        height: 28.5rem;
    }
}

@media screen and (max-width: 576px) {
    .Card {
        max-width: 95%;
        height: 28rem;
    }
    .Card:hover {
        height: 28.5rem;
    }
}

@media screen and (max-width: 380px) {
    .Card {
        max-width: 80%;
        height: 28rem;
    }
    .Card:hover {
        height: 28.5rem;
    }
}



