* {
    margin: 0;
    padding: 0;
}

.Navbar {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: slategrey;
    font-family: 'Roboto', sans-serif;
}

.Navbar-brand-container {
    display: flex;
    position: relative;
    align-items: center;
}

.Navbar-nav {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin:0;
}
.Navbar-item:hover a{
    text-decoration: none;
    text-shadow: 0px 0px 10px ghostwhite;
}

.Navbar-brand {
    margin: 0;
    letter-spacing: 2px;
    cursor: pointer;
    color: lemonchiffon;
    text-decoration: none;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Navbar-brand:hover {
    color: rgb(225, 220, 175);
    text-decoration: none;
}

.Navbar-item {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
}

.Navbar-dropdown {
    padding: 0 1rem 0 1rem;
    position: relative;

}

.dropdown-button:hover {
    color: ivory;
    text-shadow: 0px 0px 10px ghostwhite;
}

.dropdown-button {
    background: none;
    border: none;
    letter-spacing: 3px;
    cursor: pointer;
    color: rgb(232, 232, 232);
}

.dropdown-button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    z-index: 2;
}

.dropdown-button:focus {
    outline: none;
    border: none;
    
}

.Navbar-dropdown ul {
    position: absolute;
    margin-top: 0.5rem;
    width: 10rem;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 5px;
    border: 1px solid;
    opacity: 0;
    z-index: -1;
    transform: translateY(-10px);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.Navbar-dropdown ul li {
    list-style: none;
    height: 3rem;
    width: 100%;
    font-size: 90%;
    display: flex;
}

.Navbar-dropdown ul li:hover {
    background-color: rgb(224, 144, 107)
}

.dropdown-link {
    text-decoration: none;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar-item a {
    text-decoration: none;
    letter-spacing: 3px;
    color: rgb(232, 232, 232);
    font-size: 90%;
}

.Navbar-item a:hover {
    color: ivory;
}

@media screen and (max-width: 768px) {
    .Navbar {
        z-index: 1;
    }
    body {
        overflow-x: hidden;
    }
    .Navbar-nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        right: 0px;
        height: 92vh;
        top: 4rem;
        background-color: slategrey;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    .Navbar-item {
        padding: 4rem;
        font-size: 110%;
    }

    .Navbar-item:hover {
        color: ghostwhite;
    }

    .Navbar-brand-container {
        display: flex;
        justify-content: space-around;
    }
    .Navbar {
        position: fixed;
        min-width: 100%;
    }
    .Navbar-dropdown ul {
        transform: translateY(-150%);
    }
    .dropdown-button:focus+ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: all;
    }
}

@media screen and (max-width: 576px) {
    body { 
        overflow-x: hidden;
    }
    .Navbar-brand-container {
        flex-direction: column;
    }
    .Navbar-nav {
        top: 5rem;
        display: flex;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .Navbar {
        display: flex;
        position: fixed;
        min-width: 100%;
        justify-content: space-around;
        z-index: 2;
    }
}

.Navbar-active {
    transform: translateX(0%);
    
}