@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left top, rgb(33,27,41), rgb(207,216,220));
  min-height: 50vh;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

